export BACKUP_ROOT=/raid

export PGHOST=localhost
export PGPORT=5432
export PGUSER=postgres
export PGPASSWORD=strongpass

export SERVNAME=testnameofserver

export GMAILUSER=yourusersender@gmail.com
export GMAILPASSWORD=strongpass
export MAILDEST="destmail+$SERVNAME@gmail.com"

export PROGNAME=$(basename $0)
